@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
}

:root {
  --black: black;
  --white: white;
  --black-hover: rgba(0, 0, 0, 0.85);
  --dark-gray: #3e3e3e;
  --light-gray: #b5b5b5;
  --light-gray-2: #f0eeee;
  --red: #de3232;
  --green: #b5e61d;
  --dark-green: #1ba820;
  --shadow: rgba(0, 0, 0, 0.44);
  --yellow: #ffc107;
  --lines-color: #e5e5e5;
  --paragraph: #909090;
}
