.productInCart {
  height: 100px;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border: 1px solid var(--light-gray);
  border-radius: 11px;
  @media screen and (max-width: 650px) {
    padding: 0 15px;
  }

  &__img-box {
    min-width: 65px;
    height: 85px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__about {
    flex: 1;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 650px) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      padding: 0 15px;
      flex: 0;
    }
  }
  &__name {
    h2 {
      a {
        text-decoration: none;
        color: var(--black);
        font-weight: 300;
        font-size: 18px;
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 30px;
    @media screen and (max-width: 650px) {
      gap: 15px;
    }
  }
  &__cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    .previous-cost {
      color: var(--light-gray);
      text-decoration: line-through;
    }
    .cost {
      font-size: 17px;
    }
  }
  &__quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
    svg {
      transition: color 0.2s ease-in-out;
      width: 29px;
      height: 29px;
    }
    &:hover {
      background-color: var(--light-gray);
      svg {
        color: var(--white);
      }
    }
  }
  &__delete {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    svg {
      transition: color 0.2s ease-in-out;
      width: 32px;
      height: 32px;
    }
    &:hover {
      background-color: var(--red);
      svg {
        color: var(--white);
      }
    }
  }
}
